@font-face {
    font-family: Proxima-Nova;
    src: url(Proxima-Nova.otf);
}
@font-face {
    font-family: Proxima-Nova;
    font-weight: bold;
    src: url(Proxima-Nova-Bold.otf);
}

body{

    margin: 0;
    --background-teal: #326785;
    --background-grey: rgb(18,18,18);
    --drop-down-grey: #2A2A2A;
    --main-green:#65D46E;
    font-family: Proxima-Nova;
    color: white;
    background: var(--background-grey);
    line-height: 1rem;
}
.title-container{
    width: 100%;
    border: 1px solid grey;
}

h1{
    font-size: 4rem;
    min-width: 300px;
    margin: 0;
    line-height: normal;
}

h2{
    font-size: 0.75rem;
    font-weight: lighter;
    width: 1rem;
    cursor: default;
}
hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border:1px solid#535353;
}
.icon{
    width: 0.875rem;
    border-radius: 4rem;
    flex: 0.1;
}

button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.button{
    display: flex;
    align-items: center;
    background-color: rgba(18,18,18,0.75)!important;
    border-radius: 4rem;
    color: white;
    height: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
}
.button *{
    padding: 0.5rem;
}

nav{
    display:flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#nav-buttons{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#mobile-pfp{
    display: none;
}
#account-drop-down{
    position: relative;
}
.drop-down-menu{
    overflow: hidden;
    border-radius: 0.25rem;
    position: absolute;
    list-style: none;
    width: 14rem;
    margin: 0.5rem;
    padding: 0;
    top: 2rem;
    right: 0;
    background-color: var(--drop-down-grey);
    box-shadow: 0 4px 4px #00000025;
    transition: max-height 1s ease-in-out, opacity 0.5s ease-in-out;
}
.menu-item{
    padding: 0.75rem;
    padding-left: 1rem;
    text-align: left;
    font-size: 0.75rem;
    font-weight: bold; 
    transition: all 0.2s ease-in-out;
}
.menu-item:hover{
    background-color: #535353;
    transition: all 0.2s ease-in-out;
}
.menu-item hr{
    height: 0;
    width: 100%;
    padding: 0!important;
    margin: 0!important;
}
.menu-divider{
    padding: 0!important;
    margin: 0!important;
}

#playlist-overlay{
    background: #326785;
    background: linear-gradient(0deg, var(--background-grey) 20%, var(--background-teal) 100%);
    padding: 2rem;
    padding-top: 0rem;
}


#tracks-section{
    margin: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white; 
    /* border: 1px solid white; */

}



@media only screen and (max-width: 786px) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    h1{
        font-size: 2rem;
        line-height: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    #account-drop-down{
        display: none;
    }
    .drop-down-menu{
        display: none;
    }
    #mobile-pfp{
        display: block;
        width: 2rem;
        height: 2rem;
    }
    .mobile-menu{
        flex-direction: column;
        padding-top: 10vh;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(0,0,0,0.95);
    }
    .mobile-menu-pfp{
        width: 20%;
        border-radius: 99px;
    }
    .back-button{
        position: absolute;
        top: 0;
        left: 0;

    }

    #playlist-overlay{
        padding-bottom: 0;
    }
    #tracks-section{
        margin-left: 1.5rem;
        margin-right: 0.5rem;
    }

}