#playlist-header{
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: stretch;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#playlist-header h2{
    flex: 1;
}
#hashtag{
    font-size: 0.75rem;
    flex: 0.1!important;
}
#time-icon{
    float:right;
}
#playlist-vitals{
    display: flex;
}
#playlist-vital-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    line-height: 0;
}
#playlist-vital-info span{
    font-weight: bold;

}
#playlist-album-art{
    width: 14.5rem;
}

#playlist-toolbar{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    /* border: 1px solid grey; */
}
#toolbar-buttons{
    /* border: 1px solid grey; */
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#toolbar-buttons *{
    width: 1.875rem;
    margin: 0.5rem;
}

#play-button{
    width: 3.75rem;
    height: 3.75rem;
    border-radius:3rem;
    background-color: var(--main-green);

}

#play-button img{
    width: 1.5rem;
    height: 1.5rem;
}

#search-buttons{
    display: flex;
    align-items: center;
}