/*Playlist header styling*/
#playlist-header{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#playlist-header h2{
    flex: 1;
    font-size: 0.75rem;
    font-weight: lighter;
    width: 1rem;
    cursor: default;
}
/* #playlist-header button{
    flex: 1;
    font-size: 0.75rem;
    font-weight: lighter;
    width: 1rem;
    cursor: default;
} */
#hashtag{
    font-size: 0.75rem;
    flex: 0.1!important;
}
#time-icon{
    float:right;
}

/*Playlist info styling*/
#playlist-vitals{
    display: flex;
}
#playlist-vital-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    line-height: 1rem;
}
#playlist-vital-info span{
    font-weight: bold;

}
#playlist-album-art{
    width: 14.5rem;
    height: 14.5rem;
}

/*Playlist toolbar styling*/
#playlist-toolbar{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
#toolbar-buttons{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#toolbar-buttons *{
    width: 1.875rem;
    margin: 0.5rem;
}
#play-button-container{
    flex: 0;
    width: 3.75rem;
    height: 3.75rem;
}
#play-button{
    width: 3.75rem;
    height: 3.75rem;
    border-radius:3rem;
    background-color: var(--main-green);

}
#play-button img{
    width: 1.5rem;
    height: 1.5rem;
}

#search-buttons{
    display: flex;
    align-items: center;
}

#search-icon{
    margin-right: 2rem;
}

@media only screen and (max-width: 786px) {
    #playlist-overlay p{
        font-size: 0.75rem;
    }
    #playlist-overlay span{
        font-size: 1rem;
    }
    #playlist-album-art{
        width: 6.75rem;
        height: 6.75rem;
    }
    #playlist-header, hr, #search-buttons, #forward-button, .track-number, .track-date-added, .track-duration, .track-album-name {
        display: none;
    }
    #play-button-container{
        flex: 1;
    }
    #playlist-vitals{
        flex-direction: column;
    }
    #playlist-vital-info{
        padding: 0;
        margin-top: 0.5rem;
    }

    #play-button{
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0;
    }
    #play-button img{
        width: 1rem;
        height: 1rem;
    }
    #playlist-toolbar button{
        margin-top: 0;
        padding: 0;
    }
}