html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    --background-teal: #316481;
    --background-grey: #121212;
    --main-green:#65D46E;

    font-family: Proxima-Nova;
    color: white;
    background: rgb(18,18,18);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(2deg, rgba(18,18,18,1) 0%, rgba(49,100,128,1) 100%);
}

@font-face {
    font-family: Proxima-Nova;
    src: url(Proxima\ Nova\ Font.otf);
}

.tracks-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
;
    width: 80%;
    height: 100%;
    border: 1px solid black;
}
.track{
    display: flex;
    align-items: center;
    width:auto;
}
.track *{
    flex-grow: 1;
    margin: 0.5rem;
}
.track-album-cover{
    width: 2rem;
    margin: 0.5rem;
}

.track-album-cover, .track-duration, .track button{
    flex-grow: 0!important;
}